<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>True Funds Bank - Login</title>
  <link rel="stylesheet" href="static/style.css">
  <!--I should look into loading image up here-->
  <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.js"
   integrity="sha384-Q+Dky3iHVJOr6wUjQ4ulh6uQ76an/t+ak1+PjMVaxRjbZamFLAG+u9InkfjbsEQf"
    crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <div>
      <h1>True Funds</h1>
    </div>
  </header>
  <div class="login">
    <div class="login__background">
      <div class="login__container">
        <h2>Continue to Online Banking</h2>
        <!--FORM SECTION-->
        <form class="login__form">
          <!--I wonder if I can put like some icons in the input area for login and password-->
          <div class="login__inputs">
            <div class="login__input">
              <label for="username">Username</label>
              <div class="login__input-box">
                <img class="login__user-icon" src="static/user-icon.png" alt="user-icon">
                <input
                  type="text"
                  id="username"
                  name="username"
                  autocomplete="off"
                  required
                  maxlength="14"
                >
              </div>
            </div>
            <div class="login__input">
              <label for="password">Password</label>
              <div class="login__input-box">
                <img class="login__password-icon" src="static/password-icon.png" alt="user-icon">
                <input
                  type="password"
                  id="password"
                  name="password"
                  autocomplete="off"
                  required
                  maxlength="100"
                >
              </div>
            </div>
          </div>
          <div class="login__message"></div>
          <button class="login__buttons login__buttons--login"  type="submit"
           hx-post="/login" hx-target=".login__message" hx-swap="outerHTML">Login</button>
          <button class="login__buttons" type="submit" hx-post="/sign-up"
           hx-target=".login__message" hx-swap="outerHTML">Sign Up</button>
        </form>
      </div>
    </div>
  </div>
</body>

</html>