<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>True Funds Bank - Login</title>
  <link rel="stylesheet" href="static/style.css">
  <!--I should look into loading image up here-->
</head>
<body>
  <div>
    <h1>True Funds</h1>
  </div>
  <div>
    <h2>Continue to Online Banking</h2>
    <!--FORM SECTION-->
    <form>
      <!--I wonder if I can put like some icons in the input area for login and password-->
      <label>Username</label>
      <input
        type="text"
        id="username"
        name="username"
        required
        maxlength="10"
      > 
      <label>Password</label>
      <input
        type="text"
        id="username"
        name="username"
        required
        maxlength="100"
      > 

      <button type="submit">Login</button>
      <button type="submit">Sign Up</button>

    </form>
  </div>
</body>

</html>