<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>True Funds Bank - Balance</title>
    <link rel="stylesheet" href="static/style.css">
    <!--I should look into loading image up here-->
</head>
<body>
  <header>
    <h1>True Funds</h1>
  </header>
  <main>
    <!--Think I will need to use html to get the username aye-->
    <h2>Hello Username</h2>
    <div class="transactions">
      <!--I wonder if I can put like some icons in the input area for login and password-->
      <a href="transfer"><button>Transfer money</button></a>
      <a href="payment"><button>Make a payment</button></a>
    </div>
    <div class="accounts">
      <article class="accounts__everyday">
        <p>Everyday account</p>
        <h3>$2023.52</h3>
      </article>
      <article class="accounts__saver">
        <p>Saver account</p>
        <h3>$12.83</h3>
      </article>
      <article class="accounts__kiwi-saver">
        <p>KiwiSaver account</p>
        <h3>$705.16</h3>
      </article>
    </div>
  </main>
</body>
</html>