<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>True Funds - Payment</title>
    <link rel="stylesheet" href="static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.js"
    integrity="sha384-Q+Dky3iHVJOr6wUjQ4ulh6uQ76an/t+ak1+PjMVaxRjbZamFLAG+u9InkfjbsEQf"
    crossorigin="anonymous"></script>
</head>



<body class="background__full-page">
  <header>
    <a href="/online-banking" class="back-button"><span>✕</span> Close</a>
    <div class="header-with-close">
      <h1>True Funds</h1>
    </div>
  </header>
  <main class="transaction">
    <div class="transaction__container">
      <h2>Make a payment</h2>
      <form class="transaction__form">
    
        <div class="transaction__field--from">
          <label>From</label> <!--I need to add a for in-->
          <div class="dropdown">
            <div class="dropdown__selected">
              <p>Everyday Account</p>
              <span>⌵</span>
            </div>
            <ul class="dropdown__options">
              <li data-value="everyday" class="dropdown__option--selected dropdown__options--hidden">Everyday Account</li>
              <li data-value="saver" class="dropdown__options--hidden">Saver Account</li>
            </ul>
            <input type="hidden" name="account-from" class="dropdown__account-from" value="everyday">
          </div>
        </div>
  
        <div class="transaction__field--receiver">
          <label>To</label>
          <div>
            <img class="transaction__user-icon" src="static/user-icon.png" alt="user-icon">
            <input
            type="text"
            id="username"
            name="receiver-username"
            required
            maxlength="100"
            placeholder="Enter username">
          </div>
        </div>
  
        <div class="transaction__amount">
          <label for="transaction__amount-input">Amount</label> 
          <img class="transaction__dollar-sign" src="static/dollar-sign-icon.png" alt="dollar sign">
          <input id="transaction__amount-input" name="amount" type="number" min="0" max="99999999999999"
           step="0.01" placeholder="Enter Amount" autocomplete="off">
        </div>
  
        <div class="transaction__message"></div>
        <div class="transaction-actions">
          <button type="submit" hx-post="payment"
           hx-target=".transaction__message" class="transaction__button transaction__button--continue">Pay</button>
          <a href="/online-banking" class="transaction__button transaction__button--cancel"><p>Cancel</p></a>    
        </div>
      </form>
    </div>
  </main>
  <script src="static/dropdown.js"></script>
</body>
</html>

