<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>True Funds - Payment</title>
    <link rel="stylesheet" href="static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.js"
    integrity="sha384-Q+Dky3iHVJOr6wUjQ4ulh6uQ76an/t+ak1+PjMVaxRjbZamFLAG+u9InkfjbsEQf"
    crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <a href="/online-banking">X Close</a>
    <h1>True Funds</h1>
  </header>
  <main>
    <!--I want an arrow between the AccountFrom to the AccountTo-->
    <h2>Make a payment</h2>
    <form class="payment">
      <div class="payment__field--from">
        <label>From</label>
        <select class="payment__select--from" name="account-from">
          <option value="everyday">Everyday Account</option>
          <option value="saver">Saver Account</option>
        </select>
      </div>
      <div class="payment__field--receiver ">
        <label>To</label>
        <input
        type="text"
        id="username"
        name="receiver-username"
        required
        maxlength="100"
      > 
      </div>
      <div class="payment__amount">
        <label>Amount</label>
        <!--I low key might put a span thing in front-->
        <input name="amount" type="number" min="0" max="99999999999999" step="0.01" >
      </div>
      <div class="payment__message"></div>
      <div class="payment-actions">
        <button type="submit" hx-post="payment"
        hx-target=".payment__message">Pay</button>
        <a href="/online-banking">Cancel</a>
      </div>
    </form>
  </main>
</body>
</html>

