:root{
    --primary-color: hsl(212, 46%, 45%);
    --secondary-color: #7598C4;
    --bg-primary: #AFC3DD;
    --bg-secondary: #E6EDF6; 
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body{
    background-color: var(--bg-secondary);
    font-family: SF Pro Display, SF Pro Text, Inter, system-ui, -apple-system, sans-serif;
}

header{
    display: flex;
    justify-content: center;
    margin-top: 42px;
    margin-bottom: 42px;
}

/* Login page */

.login {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 40px;
}

.login__background {
    display: flex;
    justify-content: center;
    background-color: var(--bg-primary);
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px;
}

.login__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: var(--bg-primary);
}

.login h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 24px;
}

.login__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.login__inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin-bottom: 8px;
}

.login__input {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.login__input label {
    margin-right: .5rem;
    font-size: .95rem;
    letter-spacing: .03rem;
    font-weight: 400;
}

.login__input-box{
    position: relative;
}

.login__user-icon {
    position: absolute;
    top: 15px;
    left: 10px;
    height: 25px;
}

.login__password-icon {
    position: absolute;
    top: 16px;
    left: 11px;
    height: 23px;
    opacity: 0.65;
}

.login__input input {
    height: 56px;
    width: 100%;
    padding-left: 40px;
    font-size: .95rem;
    border: 1px, solid, rgb(0, 0, 0);
    background-color: var(--bg-primary);
}

/* Put the class in only when it is shown*/
.login__message--show {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 12px 5px;
    margin: 16px 0;
    color: #FFFFFF;
    background-color: #FF0000;
    border-radius: 5px;
}

.login__message--show {
    font-weight: 500;
}

.login__buttons {
    width: 100%;
    height: 56px;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 2.5px;
    border: 1.5px solid transparent;              
    transition: border-color 0.3s ease;  
    font-size: 16px;
    font-weight: 450;
    font-family: SF Pro Display, SF Pro Text, Inter, system-ui, -apple-system, sans-serif;;
}

.login__buttons--login {
    margin-top: 8px;
    margin-bottom: 4px;
}

.login__buttons:hover{
    border-color: white;
}

@media (width >= 480px){
    .login__background {
        max-width: 448px;
    }
}

@media (width >= 736px){
    .login__background {
        padding: 0 120px;
        max-width: 648px;
    }
}

/* Online banking */
.background__full-page {
    background-color: var(--bg-primary);
}

.banking {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 10px;
}

.banking__dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.banking__meassage {
    font-size: 20px;
    font-weight: 500;
}

.banking__transactions {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.banking__links {
    width: 118px;
    box-sizing: content-box;
    padding: 12px 20px;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 2.5px;
    border: 1.5px solid transparent;              
    transition: border-color 0.3s ease;  
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: 450;
    font-family: SF Pro Display, SF Pro Text, Inter, system-ui, -apple-system, sans-serif;;
}

.banking__links:hover{
    border-color: white;
}

.banking__accounts-container{
    display: flex;
    justify-content: center;
    
}

.banking__accounts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 912px;
}

.banking__account {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #FFFFFF;
    border-radius: 4px;
}

.circle {
    width: 65px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
}

.circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banking__account-info {
    display: flex;
    margin: 15px;
    justify-content: space-between;
    width: calc(100% - 80px);
}

.banking__account-name {
    font-size: 16px;
    font-weight: 500;
}

.banking__account-balance {
    font-size: 16px;
    font-weight: 650;
}


@media (width >= 400px){
    .banking__links{
        padding: 12px 30px;
    }
}

@media (width >= 544px) {
    .banking__dashboard{
        gap: 60px;
    }
    .banking {
        gap: 40px;
        margin: 0 20px;
    }
    .banking__transactions {
        justify-content: center;
        gap: 40px;
    }
    .banking__accounts {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        width: 100%
    }
    .banking__account {
        width: calc(50% - 10px);
    }
}

@media (width >= 992px){
    .banking__account {
        width: 446px;
    }
}