:root{
    --primary-color: hsl(212, 46%, 45%);
    --secondary-color: #7598C4;
    --bg-primary: #AFC3DD;
    --bg-secondary: #E6EDF6; 
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body{
    background-color: var(--bg-secondary);
    font-family: SF Pro Display, SF Pro Text, Inter, system-ui, -apple-system, sans-serif;
}

/* header */
/* I may need to fix the login header after */
header h1 {
    display: flex;
    justify-content: center;
    margin-top: 42px;
    margin-bottom: 42px;
}

.header__title-container {
    margin-top: 16px;
}

.header__buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    margin-left: 12px;
    margin-right: 12px;
}

.header__button-container {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 8px;
    margin-left: 12px;
    margin-right: 12px;
}

.header__button {
    display: inline-block;
    padding: 8px;
    padding-top: 6px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 450;
    text-decoration: none;
    color: black;
}

.header__button:hover {
    background-color: hsl(214, 40%, 83%);
}

.header__button--back span {
    padding-top: 10px;
    font-size: 18px;
}

.header__button--logout {
    display: flex;
    align-items: center;
    gap: 2px;
}

.header__button--logout img {
    height: 15px;
}


/* Gobal */ 

/* Custom dropdown */
.dropdown {
    width: 100%;
}
.dropdown__selected {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 56px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 24px;
    font-size: 16px;
    background-color: #FFFFFF;
    border: 1px solid black;
    cursor: pointer;
}

.dropdown__selected span {
    font-weight: bold;
    font-size: 18px;
}

.dropdown__signifier--expanded {
    transform: scaleY(-1)
}

.dropdown__option--selected {
    background-color: #E6EDF6 !important;
}

.dropdown__options {
    padding-left: 0;
}

.dropdown__options li {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 56px;
    padding: 4px;
    padding-left: 8px;
    list-style-type: none;
    background-color: #FFFFFF;
    border: 1px solid black;
    border-top: none;
    cursor: pointer;
}

.dropdown__options li:hover {
    background-color: hsl(214, 47%, 85%);
}

.dropdown__options--hidden {
    display: none !important;
}


/* Login page */

.login {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 40px;
}

.login__background {
    display: flex;
    justify-content: center;
    background-color: var(--bg-primary);
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px;
}

.login__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: var(--bg-primary);
}

.login h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 24px;
}

.login__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.login__inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin-bottom: 8px;
}

.login__input {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.login__input label {
    margin-right: .5rem;
    font-size: .95rem;
    letter-spacing: .03rem;
    font-weight: 400;
}

.login__input-box{
    position: relative;
}

.login__user-icon {
    position: absolute;
    top: 15px;
    left: 10px;
    height: 25px;
}

.login__password-icon {
    position: absolute;
    top: 16px;
    left: 11px;
    height: 23px;
    opacity: 0.65;
}

.login__input input {
    height: 56px;
    width: 100%;
    padding-left: 40px;
    font-size: .95rem;
    border: 1px, solid, rgb(0, 0, 0);
    background-color: var(--bg-primary);
}

.login__message--show {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 12px 5px;
    margin: 16px 0;
    color: #FFFFFF;
    background-color: #FF0000;
    border-radius: 5px;
}

.login__message--show {
    font-weight: 500;
}

.login__buttons {
    width: 100%;
    height: 56px;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 2.5px;
    border: 1.5px solid transparent;              
    transition: border-color 0.3s ease;  
    font-size: 16px;
    font-weight: 450;
    font-family: SF Pro Display, SF Pro Text, Inter, system-ui, -apple-system, sans-serif;
}

.login__buttons--login {
    margin-top: 8px;
    margin-bottom: 4px;
}

.login__buttons:hover{
    border-color: white;
}

@media (width >= 480px){
    .login__background {
        max-width: 448px;
    }
}

@media (width >= 736px){
    .login__background {
        padding: 0 120px;
        max-width: 648px;
    }
}

/* Online banking */
.background__full-page {
    background-color: var(--bg-primary);
}

.banking {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 10px;
}

.banking__dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.banking__meassage {
    font-size: 20px;
    font-weight: 500;
}

.banking__transactions {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.banking__transaction {
    display: flex;
    justify-content: center;
}

.banking__links {
    width: 118px;
    box-sizing: content-box;
    padding: 12px 20px;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 2.5px;
    border: 1.5px solid transparent;              
    transition: border-color 0.3s ease;  
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: 450;
    font-family: SF Pro Display, SF Pro Text, Inter, system-ui, -apple-system, sans-serif;
}

.banking__links:hover{
    border-color: white;
}

.banking__accounts-container{
    display: flex;
    justify-content: center;
    
}

.banking__accounts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 912px;
    margin-bottom: 32px;
}

.banking__account {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #FFFFFF;
    border-radius: 4px;
}

.circle {
    width: 65px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
}

.circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banking__account-info {
    display: flex;
    margin: 15px;
    justify-content: space-between;
    width: calc(100% - 80px);
}

.banking__account-name {
    font-size: 16px;
    font-weight: 500;
}

.banking__account-balance {
    font-size: 16px;
    font-weight: 650;
}


@media (width >= 400px){
    .banking__links{
        padding: 12px 30px;
    }
}

@media (width >= 544px) {
    .banking__dashboard{
        gap: 60px;
    }
    .banking {
        gap: 40px;
        margin: 0 20px;
    }
    .banking__transactions {
        justify-content: center;
        gap: 40px;
    }
    .banking__accounts {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        width: 100%
    }
    .banking__account {
        width: calc(50% - 10px);
    }
}

@media (width >= 992px){
    .banking__account {
        width: 446px;
    }
}

/* payment and transfer page */
.background__full-page {
    background-color: var(--bg-primary);
}

.transaction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-left: 12px;
    padding-right: 12px;
    width: 100%; 
}

.transaction__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.transaction__container h2 {
    font-size: 20px;
    font-weight: 500;
}

.transaction__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 100%;
}

.transaction__field--from {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 100%;
}

.transaction__field--to {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 100%;
}

.transaction__field--receiver {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 100%;
}

.transaction__field--receiver div {
    position: relative;
    width: 100%;
}

.transaction__field--receiver div input {
    height: 56px;
    padding-left: 40px;
    font-size: 16px;
    font-family: SF Pro Display, SF Pro Text, Inter, system-ui, -apple-system, sans-serif;
    width: 100%;
}

.transaction__user-icon {
    position: absolute;
    top: 15px;
    left: 10px;
    height: 25px;
}

.transaction__amount {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 100%;
}
.transaction__amount input {
    height: 56px;
    font-size: 16px;
    padding-left: 40px;
}

.transaction__dollar-sign {
    position: absolute;
    top: 40px;
    left: 12px;
    height: 20px;
}

.transaction__message {
    width: 100%;
}

.transaction__message .transaction__message--error {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 12px 5px;
    margin: 16px 0;
    color: #FFFFFF;
    background-color: #FF0000;
    border-radius: 5px;
}

.transaction__message .transaction__message--success {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 12px 5px;
    margin: 16px 0;
    background-color: var(--secondary-color);
    color: black;
    border-radius: 5px;
    border: 1.5px solid #FFFFFF;
}

.transaction-actions {
    display: flex;
    flex-direction: column;
    gap:  16px;
    width: 100%;
    margin-bottom: 32px;
}

.transaction__button {
    width: 100%;
    height: 56px;
    padding: 12px 20px;
    border: none;
    border-radius: 2.5px;
    border: 1.5px solid transparent;              
    transition: border-color 0.3s ease;  
    background-color: var(--secondary-color);
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: 450;
    font-family: SF Pro Display, SF Pro Text, Inter, system-ui, -apple-system, sans-serif;
}

.transaction__button:hover{
    border-color: white;
}

.transaction__button--cancel {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (width >= 672px) {
    .transaction__container {
        max-width: 648px;
    }
    .transaction-actions {
        flex-direction: row-reverse;
        gap: 32px;
    }
}
